package contact

import "go-lainh-site/components"

templ ContactPage() {
	@components.Base() {
		<div class="mt-40 max-w-xl px-5 mx-auto">
			<div class="w-max mx-auto py-3">
				<h1 class="!leading-12 !text-4xl section-title">Contact</h1>
			</div>
			@components.ContactForm()
		</div>
	}
}
